section {
  margin-top: 0.2em;
  margin-right: 1em;
  padding-top: 0.5em;
  display: inline-block;
  width: 30em;
  vertical-align: top;
}

button {
  display: block;
  margin-bottom: 0.5em;
  margin-top: 0.5em;
  font-size: 1em;
}

label {
  margin-bottom: 0.5em;
  width: 13em;
  display: inline-block;
}

input {
  width: 6em;
}
